doctype html
html
    head
        title Login Admin 
    body 
        h1 Login Admin 
        
        form(action="/login", method="POST") 
            input(type="text" name="email" placeholder ="email")
            input(type="text" name= "password" placeholder="password")
            
            button(type="submit") Entrar  